.productContainer{
  width: 300px;
  height: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px;
  margin: 2px 5px 25px 5px;
}

.productInfo {
  display: flex;
  flex-direction: column;
}

.productTitle {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.animalName {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productPrice {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productPriceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6f00;
  height: 50px;
  border-radius: 1%;
}